.upper {
  fill: var(--themecolor, #4F80FF);
  
  flex-shrink: 0;
  .title{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
  }
}